---
import type { CollectionEntry } from "astro:content";
import Global from "../../layouts/Global/index.astro";
import styles from "./styles.module.css";

type Props = CollectionEntry<"pieces">["data"];

const { title, subtitle, description, links, pubDate, hero, collections } =
  Astro.props;
---

<Global title={`Emily Pai | ${title}`} description={description}>
  <article>
    <header class={styles.header}>
      <div class={styles.intro}>
        <h1 class={styles.title}>{title}</h1>
        <p class={styles.subtitle}>{subtitle}</p>
      </div>
      <div class={styles.content}>
        {description}
        {
          links && (
            <p class={styles.links}>
              {links.map((link) => (
                <a href={link.url} class={styles.link}>
                  {link.title}
                </a>
              ))}
            </p>
          )
        }
      </div>
    </header>
    <div class={styles.heroimage}>
      {hero && <img class={styles.banner} src={hero.src} alt="Hero Image" />}
    </div>
    <div class={styles.gallery}>
      {
        collections.map((collection) => (
          <div class={`${styles.collection} ${styles[collection.number]}`}>
            {collection.images.map((image) => (
              <div class={styles.imagecontainer}>
                <img class={styles.image} src={image.src.src} alt={image.alt} />
                {image.caption && <p class={styles.caption}>{image.caption}</p>}
              </div>
            ))}
          </div>
        ))
      }
    </div>
    <slot />
  </article>
</Global>
