---
import styles from "./styles.module.css";
import logo from "/public/logo.svg";
import textlogo from "/public/emzustudio.png";
---

<header class={styles.header}>
  <nav class={styles.nav}>
    <div class={styles.links}>
      <a href="/" class={styles.link}>Home</a>
      <a href="/pieces">Pieces</a>
    </div>
    <a class={styles.logo} href="/">
      <img src={logo.src} alt="logo" class={styles.duck} />
      <img src={textlogo.src} alt="logo" class={styles.textlogo} />
    </a>
    <div class={styles.cta}>
      <a href="https://www.instagram.com/mle_pai/" target="_blank">
        Instagram
      </a>
    </div>
  </nav>
</header>
